.project-card {
  @apply overflow-hidden p-5 relative flex flex-col items-start top-0 justify-between shadow-primary-wt dark:shadow-primary-dt bg-gradient-to-br from-lt-secondary-gradient-from to-white dark:from-dt-primary-gradient-from dark:to-dt-primary-gradient-to rounded-md hover:-translate-y-1 hover:before:opacity-100;

  &:before {
    @apply content-[''] absolute z-0 top-0 left-0 w-full h-full bg-gradient-to-br from-lt-primary-gradient-from to-lt-primary-gradient-to dark:from-dt-secondary-gradient-from dark:to-dt-secondary-gradient-to opacity-0 transition-all ease-linear duration-200 rounded-md;
  }

  .card-top {
    @apply w-full flex justify-between items-center mb-4;

    .project-icon {
      @apply text-3xl text-secondary dark:text-primary dark:text-secondary dark:text-primary;
    }

    .project-links {
      @apply flex gap-4;
    }
  }

  .preview-image {
    @apply block relative mb-3 overflow-hidden -mx-6 aspect-[16/8] transition ease-in-out duration-500;
    filter: grayscale(100%);

    img {
      @apply transition ease-in-out duration-500;
    }
  }

  .title {
    @apply dark:text-light-secondary-2 font-bold text-xl mb-3 transition-all ease-in-out duration-300;
  }

  .short-description {
    @apply text-base leading-tight;
  }

  .tech-list {
    @apply flex flex-wrap text-[13px] font-mono gap-x-4 leading-none mt-5 z-10;

    div {
      @apply flex items-center;
      span {
        @apply text-secondary dark:text-primary dark:text-secondary dark:text-primary mr-1;
      }
    }
  }

  &:hover {
    * {
      @apply text-white dark:text-inherit;
    }
    .title {
      @apply dark:text-secondary dark:text-primary;
    }
    .preview-image {
      filter: grayscale(0%);
      img {
        transform: scale(1.1);
      }
    }

    .tech-list div span {
      @apply text-white dark:text-secondary dark:text-primary;
    }
  }
}
