/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.navy');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.dark-slate');
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.slate');
}
