.section-title {
  font-size: clamp(24px, 5vw, 38px);
  @apply font-semibold flex items-end w-full mt-2 mb-14 relative leading-none text-heading-lt dark:text-heading-dt max-w-xl;

  &:after {
    content: '';
    @apply bg-slate-400 dark:bg-text-dark ml-5 h-[1px] flex-1 mb-[6px];
  }
}
.heading-1 {
  font-size: clamp(45px, 8vw, 80px);
  @apply font-sans font-bold leading-tight text-heading-lt dark:text-heading-dt;
}
.heading-2 {
  font-size: clamp(18px, 5vw, 50px);
  @apply font-sans font-bold leading-tight;
}
.heading-3 {
  @apply font-bold text-5xl mb-4 text-heading-lt dark:text-heading-dt;
}
.heading-4 {
  font-size: clamp(25px, 2vw, 45px);
  @apply font-sans font-bold leading-tight text-heading-lt dark:text-heading-dt;
}
h4,
h5,
h6 {
  @apply font-sans font-bold mb-2 text-heading-lt dark:text-heading-dt;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-lg;
}
