.project-card {
  @apply overflow-hidden bg-white dark:bg-dark-secondary-2 rounded-md p-6 relative flex flex-col items-start shadow-md top-0 justify-between;

  .card-top {
    @apply w-full flex justify-between items-center mb-7;

    .project-icon {
      @apply text-3xl text-primary dark:text-dark-primary;
    }

    .project-links {
      @apply flex text-[20px] -mr-2;

      a {
        @apply p-2 hover:text-primary dark:hover:text-dark-primary transition ease-in-out duration-200;
      }
    }
  }

  .thumbnail {
    @apply relative mb-3 overflow-hidden -mx-6 aspect-[16/8] transition ease-in-out duration-500;
    filter: grayscale(100%);

    img {
      @apply transition ease-in-out duration-500;
    }
  }

  .title {
    @apply dark:text-light-secondary-2 font-bold text-xl mb-3 transition-all ease-in-out duration-300;
  }

  .short-description {
    @apply text-base leading-tight;
  }

  .tech-list {
    @apply flex flex-wrap text-[13px] font-mono gap-x-4 leading-none mt-5;

    div {
      @apply flex items-center;
      span {
        @apply text-primary dark:text-dark-primary mr-1;
      }
    }
  }

  &:hover {
    .title {
      @apply text-primary dark:text-dark-primary;
    }
    .thumbnail {
      filter: grayscale(0%);
      img {
        transform: scale(1.1);
      }
    }
  }
}
