header {
  height: theme('nav-height.default');
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  @apply font-mono fixed z-40 top-0 w-full ease-in-out duration-300 delay-100;

  &.hidden {
    @apply -translate-y-full block;
  }

  &.minimised {
    height: theme('nav-height.minimised');
    backdrop-filter: blur(15px);
    @apply shadow-lg bg-body-light dark:shadow-primary-dt dark:bg-header-dark;
  }

  @media (max-width: 767px) {
    height: theme('nav-height.mobile');

    &.minimised {
      height: theme('nav-height.mobile');
    }
  }
  .hamburger {
    width: var(--hamburger-width);
    height: 2px;
    border-radius: 4px;
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
    position: relative;
    @apply bg-secondary dark:bg-primary;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: auto;
      right: 0px;
      width: 44px;
      height: 2px;
      border-radius: 4px;
      @apply bg-secondary dark:bg-primary;
    }

    &:before {
      width: 120%;
      top: -10px;
      opacity: 1;
      transition: var(--ham-before);
    }

    &:after {
      width: 80%;
      bottom: -10px;
      transform: rotate(0deg);
      transition: var(--ham-after);
    }

    &.open {
      transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      transform: rotate(225deg);

      &:before {
        width: 100%;
        opacity: 0;
        top: 0;
        transition: var(--ham-before-active);
      }

      &:after {
        width: 100%;
        bottom: 0;
        transform: rotate(-90deg);
        transition: var(--ham-after-active);
      }
    }
  }
}
