.button {
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  @apply flex font-bold items-center;

  &.sm {
    padding: 0 10px;
    height: 30px;
    font-size: 10px;

    &.icon-button {
      padding: 11px;
      margin: -11px;

      .icon {
        font-size: 1.2em;
      }
    }
  }

  &.md {
    letter-spacing: 2px;
    padding: 0 15px;
    height: 40px;
    font-size: 12px;

    &.icon-button {
      padding: 11px;
      margin: -11px;

      .icon {
        font-size: 1.4em;
      }
    }
  }

  &.lg {
    letter-spacing: 4px;
    font-size: 14px;
    padding: 0 30px;
    height: 50px;

    &.icon-button {
      padding: 11px;
      margin: -11px;

      .icon {
        font-size: 1.6em;
      }
    }
  }

  &.icon-button.sm,
  &.icon-button.md,
  &.icon-button.lg {
    @apply h-auto;

    .icon {
      @apply ease-in-out duration-200;
    }

    &:hover {
      @apply text-primary dark:text-dark-primary;

      .icon {
        @apply -translate-y-1;
      }
    }
  }

  &.reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  &.primary {
    @apply transition ease-in-out duration-200 text-slate-500 border-solid border border-slate-500 hover:border-blue-600 hover:text-blue-600 dark:hover:text-dark-primary dark:hover:border-dark-primary hover:shadow-primary-light dark:hover:shadow-primary-dark;
  }

  &.secondary {
    background-color: theme('colors.dark-grey');
    color: theme('colors.grey');
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    @apply ease-in-out duration-300;

    div {
      position: relative;
      z-index: 2;
      line-height: 0.95rem;
    }

    &:before,
    &:after {
      content: '';
      opacity: 0.5;
      top: 0;
      left: 0;
      height: 50%;
      display: block;
      width: 100%;
      position: absolute;
      z-index: 1;
      @apply ease-in-out duration-300;
    }

    &:before {
      top: 0;
      background-color: #515151;
      -moz-transform: translate3d(-105%, 0, 0);
      -ms-transform: translate3d(-105%, 0, 0);
      -webkit-transform: translate3d(-105%, 0, 0);
      transform: translate3d(-105%, 0, 0);
    }

    &:after {
      background-color: #3f3f3f;
      top: 50%;
      -moz-transform: translate3d(105%, 0, 0);
      -ms-transform: translate3d(105%, 0, 0);
      -webkit-transform: translate3d(105%, 0, 0);
      transform: translate3d(105%, 0, 0);
      -moz-transition-delay: 75ms;
      -o-transition-delay: 75ms;
      -webkit-transition-delay: 75ms;
      transition-delay: 75ms;
    }

    &:hover:before,
    &:hover:after,
    &.active:before,
    &.active:after {
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    &:hover,
    &.active {
      @apply text-blue-600 dark:text-dark-primary;
    }

    &.active {
      cursor: default;
    }
  }

  &.neon {
    @apply uppercase relative overflow-hidden duration-200 text-blue-600 dark:text-dark-primary;

    i {
      margin-left: 10px;
      line-height: 0;
    }

    &:hover {
      @apply delay-1000 text-white dark:text-dark-secondary-1 bg-blue-600 dark:bg-dark-primary shadow-neon-light dark:shadow-neon-dark;

      span {
        &:nth-child(1) {
          left: 100%;
          transition: 0.75s;
        }
        &:nth-child(2) {
          top: 100%;
          transition: 0.75s;
          transition-delay: 0.25s;
        }
        &:nth-child(3) {
          right: 100%;
          transition: 0.75s;
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          bottom: 100%;
          transition: 0.75s;
          transition-delay: 0.75s;
        }
      }
    }

    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, theme('colors.light.primary'));
      }
    }
  }

  &.back-to-list {
    @apply ease-in-out duration-300 block w-11 h-11 overflow-visible;

    &.sm,
    &.md,
    &.lg {
      padding: 0;
    }

    i {
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      @apply ease-in-out duration-300 bg-slate-600 w-2 h-2 absolute block shadow-lg;

      &:nth-child(1) {
        -moz-transform: translateY(-11px) translateX(-11px);
        -ms-transform: translateY(-11px) translateX(-11px);
        -webkit-transform: translateY(-11px) translateX(-11px);
        transform: translateY(-11px) translateX(-11px);
      }

      &:nth-child(2) {
        -moz-transform: translateY(-11px) translateX(0);
        -ms-transform: translateY(-11px) translateX(0);
        -webkit-transform: translateY(-11px) translateX(0);
        transform: translateY(-11px) translateX(0);
      }

      &:nth-child(3) {
        -moz-transform: translateY(-11px) translateX(11px);
        -ms-transform: translateY(-11px) translateX(11px);
        -webkit-transform: translateY(-11px) translateX(11px);
        transform: translateY(-11px) translateX(11px);
      }

      &:nth-child(4) {
        -moz-transform: translateX(-11px);
        -ms-transform: translateX(-11px);
        -webkit-transform: translateX(-11px);
        transform: translateX(-11px);
      }

      &:nth-child(6) {
        -moz-transform: translateX(11px);
        -ms-transform: translateX(11px);
        -webkit-transform: translateX(11px);
        transform: translateX(11px);
      }

      &:nth-child(7) {
        -moz-transform: translateY(11px) translateX(-11px);
        -ms-transform: translateY(11px) translateX(-11px);
        -webkit-transform: translateY(11px) translateX(-11px);
        transform: translateY(11px) translateX(-11px);
      }

      &:nth-child(8) {
        -moz-transform: translateY(11px);
        -ms-transform: translateY(11px);
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
      }

      &:nth-child(9) {
        -moz-transform: translateY(11px) translateX(11px);
        -ms-transform: translateY(11px) translateX(11px);
        -webkit-transform: translateY(11px) translateX(11px);
        transform: translateY(11px) translateX(11px);
      }
    }
    span {
      @apply h-[20px] absolute bg-white dark:bg-dark-secondary-3 top-1/2 right-0 translate-x-[125%] -translate-y-1/2 py-1 pl-2 pr-3 rounded-sm whitespace-nowrap block text-[12px] normal-case leading-none ease-in-out transition-all duration-500 opacity-0 tracking-normal shadow-md;

      &:before {
        content: '';
        @apply border-[10px] border-r-white dark:border-r-dark-secondary-3 border-t-transparent border-b-transparent border-l-transparent h-0 w-0 top-[0] left-[1px] absolute -translate-x-full;
      }
    }
    &:hover span {
      @apply opacity-100 translate-x-[115%];
    }
    &:hover i {
      @apply bg-primary dark:bg-dark-primary;

      &:nth-child(1) {
        -moz-transform: translateY(-14px) translateX(-14px);
        -ms-transform: translateY(-14px) translateX(-14px);
        -webkit-transform: translateY(-14px) translateX(-14px);
        transform: translateY(-14px) translateX(-14px);
      }

      &:nth-child(2) {
        -moz-transform: translateY(-14px) translateX(0);
        -ms-transform: translateY(-14px) translateX(0);
        -webkit-transform: translateY(-14px) translateX(0);
        transform: translateY(-14px) translateX(0);
      }

      &:nth-child(3) {
        -moz-transform: translateY(-14px) translateX(14px);
        -ms-transform: translateY(-14px) translateX(14px);
        -webkit-transform: translateY(-14px) translateX(14px);
        transform: translateY(-14px) translateX(14px);
      }

      &:nth-child(4) {
        -moz-transform: translateY(0) translateX(-14px);
        -ms-transform: translateY(0) translateX(-14px);
        -webkit-transform: translateY(0) translateX(-14px);
        transform: translateY(0) translateX(-14px);
      }

      &:nth-child(6) {
        -moz-transform: translateY(0) translateX(14px);
        -ms-transform: translateY(0) translateX(14px);
        -webkit-transform: translateY(0) translateX(14px);
        transform: translateY(0) translateX(14px);
      }

      &:nth-child(7) {
        -moz-transform: translateY(14px) translateX(-14px);
        -ms-transform: translateY(14px) translateX(-14px);
        -webkit-transform: translateY(14px) translateX(-14px);
        transform: translateY(14px) translateX(-14px);
      }
      &:nth-child(8) {
        -moz-transform: translateY(14px) translateX(0);
        -ms-transform: translateY(14px) translateX(0);
        -webkit-transform: translateY(14px) translateX(0);
        transform: translateY(14px) translateX(0);
      }
      &:nth-child(9) {
        -moz-transform: translateY(14px) translateX(14px);
        -ms-transform: translateY(14px) translateX(14px);
        -webkit-transform: translateY(14px) translateX(14px);
        transform: translateY(14px) translateX(14px);
      }
    }
  }

  &.icon {
    @apply ease-in-out duration-300 text-slate-700 p-0 hover:text-blue-600;

    &.sm {
      font-size: 20px;
    }
    &.md {
      font-size: 26px;
    }
    &.lg {
      font-size: 32px;
    }
    svg {
      width: 100%;
      height: auto;
    }
  }
}

.dark .button.neon span {
  &:nth-child(1) {
    background: linear-gradient(90deg, transparent, theme('colors.dark.primary'));
  }
  &:nth-child(2) {
    background: linear-gradient(180deg, transparent, theme('colors.dark.primary'));
  }
  &:nth-child(3) {
    background: linear-gradient(270deg, transparent, theme('colors.dark.primary'));
  }
  &:nth-child(4) {
    background: linear-gradient(360deg, transparent, theme('colors.dark.primary'));
  }
}
