.button {
  @apply flex font-semibold items-center uppercase cursor-pointer;

  svg {
    font-size: 1.2em;
  }

  &.sm {
    padding: 0 10px;
    height: 30px;
    font-size: 12px;
  }

  &.md {
    letter-spacing: 1px;
    padding: 0 15px;
    height: 40px;
    font-size: 13px;
  }

  &.lg {
    letter-spacing: 2px;
    font-size: 14px;
    padding: 0 30px;
    height: 50px;
  }

  &.icon.sm,
  &.icon.md,
  &.icon.lg {
    @apply h-auto p-3 -m-3 transition-all ease-linear duration-200 hover:-translate-y-1 hover:text-primary;

    svg {
      @apply text-lg;
    }
  }

  &.reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  &.primary {
    @apply transition-all ease-linear duration-200 text-primary hover:text-white dark:hover:text-primary shadow-shadow-white-3 bg-gradient-to-br from-l-secondary-gradient-from to-white dark:from-d-primary-gradient-from dark:to-d-primary-gradient-to dark:shadow-shadow-1 rounded-md hover:-translate-y-1 relative hover:before:opacity-100;

    &:before {
      @apply content-[''] absolute -z-[1] top-0 left-0 w-full h-full bg-gradient-to-br from-l-primary-gradient-from to-l-primary-gradient-to dark:from-d-secondary-gradient-from dark:to-d-secondary-gradient-to opacity-0 transition-all ease-linear duration-200 rounded-md;
    }
  }

  &.icon-round {
    @apply justify-center p-0 aspect-square rounded-full relative shadow-shadow-white-3 bg-gradient-to-br from-l-secondary-gradient-from to-white dark:from-d-primary-gradient-from dark:to-d-primary-gradient-to dark:shadow-shadow-1 hover:before:opacity-100 hover:before:scale-110 hover:text-primary;

    &:before {
      @apply content-[''] z-10 absolute top-0 left-0 w-full h-full shadow-shadow-white-3 bg-gradient-to-br from-l-secondary-gradient-from to-white dark:from-d-primary-gradient-from dark:to-d-primary-gradient-to dark:shadow-shadow-1 rounded-full opacity-0 transition-all ease-linear duration-200;
    }

    svg {
      @apply relative z-20;
    }
  }

  &.neon {
    @apply uppercase relative overflow-hidden duration-200 text-primary;

    i {
      margin-left: 10px;
      line-height: 0;
    }

    &:hover {
      @apply delay-1000 text-white dark:text-dark-secondary-1 bg-primary shadow-neon-light dark:shadow-neon-dark;

      span {
        &:nth-child(1) {
          left: 100%;
          transition: 0.75s;
        }
        &:nth-child(2) {
          top: 100%;
          transition: 0.75s;
          transition-delay: 0.25s;
        }
        &:nth-child(3) {
          right: 100%;
          transition: 0.75s;
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          bottom: 100%;
          transition: 0.75s;
          transition-delay: 0.75s;
        }
      }
    }

    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, theme('colors.light.primary'));
      }
      &:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, theme('colors.light.primary'));
      }
    }
  }

  &.back-to-list {
    @apply ease-in-out duration-300 block w-11 h-11 overflow-visible;

    &.sm,
    &.md,
    &.lg {
      padding: 0;
    }

    i {
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      @apply ease-in-out duration-300 bg-slate-600 w-2 h-2 absolute block shadow-lg;

      &:nth-child(1) {
        -moz-transform: translateY(-11px) translateX(-11px);
        -ms-transform: translateY(-11px) translateX(-11px);
        -webkit-transform: translateY(-11px) translateX(-11px);
        transform: translateY(-11px) translateX(-11px);
      }

      &:nth-child(2) {
        -moz-transform: translateY(-11px) translateX(0);
        -ms-transform: translateY(-11px) translateX(0);
        -webkit-transform: translateY(-11px) translateX(0);
        transform: translateY(-11px) translateX(0);
      }

      &:nth-child(3) {
        -moz-transform: translateY(-11px) translateX(11px);
        -ms-transform: translateY(-11px) translateX(11px);
        -webkit-transform: translateY(-11px) translateX(11px);
        transform: translateY(-11px) translateX(11px);
      }

      &:nth-child(4) {
        -moz-transform: translateX(-11px);
        -ms-transform: translateX(-11px);
        -webkit-transform: translateX(-11px);
        transform: translateX(-11px);
      }

      &:nth-child(6) {
        -moz-transform: translateX(11px);
        -ms-transform: translateX(11px);
        -webkit-transform: translateX(11px);
        transform: translateX(11px);
      }

      &:nth-child(7) {
        -moz-transform: translateY(11px) translateX(-11px);
        -ms-transform: translateY(11px) translateX(-11px);
        -webkit-transform: translateY(11px) translateX(-11px);
        transform: translateY(11px) translateX(-11px);
      }

      &:nth-child(8) {
        -moz-transform: translateY(11px);
        -ms-transform: translateY(11px);
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
      }

      &:nth-child(9) {
        -moz-transform: translateY(11px) translateX(11px);
        -ms-transform: translateY(11px) translateX(11px);
        -webkit-transform: translateY(11px) translateX(11px);
        transform: translateY(11px) translateX(11px);
      }
    }
    span {
      @apply h-[20px] absolute bg-white dark:bg-dark-secondary-3 top-1/2 right-0 translate-x-[125%] -translate-y-1/2 py-1 pl-2 pr-3 rounded-sm whitespace-nowrap block text-[12px] normal-case leading-none ease-in-out transition-all duration-500 opacity-0 tracking-normal shadow-md;

      &:before {
        content: '';
        @apply border-[10px] border-r-white dark:border-r-dark-secondary-3 border-t-transparent border-b-transparent border-l-transparent h-0 w-0 top-[0] left-[1px] absolute -translate-x-full;
      }
    }
    &:hover span {
      @apply opacity-100 translate-x-[115%];
    }
    &:hover i {
      @apply bg-primary dark:bg-primary;

      &:nth-child(1) {
        -moz-transform: translateY(-14px) translateX(-14px);
        -ms-transform: translateY(-14px) translateX(-14px);
        -webkit-transform: translateY(-14px) translateX(-14px);
        transform: translateY(-14px) translateX(-14px);
      }

      &:nth-child(2) {
        -moz-transform: translateY(-14px) translateX(0);
        -ms-transform: translateY(-14px) translateX(0);
        -webkit-transform: translateY(-14px) translateX(0);
        transform: translateY(-14px) translateX(0);
      }

      &:nth-child(3) {
        -moz-transform: translateY(-14px) translateX(14px);
        -ms-transform: translateY(-14px) translateX(14px);
        -webkit-transform: translateY(-14px) translateX(14px);
        transform: translateY(-14px) translateX(14px);
      }

      &:nth-child(4) {
        -moz-transform: translateY(0) translateX(-14px);
        -ms-transform: translateY(0) translateX(-14px);
        -webkit-transform: translateY(0) translateX(-14px);
        transform: translateY(0) translateX(-14px);
      }

      &:nth-child(6) {
        -moz-transform: translateY(0) translateX(14px);
        -ms-transform: translateY(0) translateX(14px);
        -webkit-transform: translateY(0) translateX(14px);
        transform: translateY(0) translateX(14px);
      }

      &:nth-child(7) {
        -moz-transform: translateY(14px) translateX(-14px);
        -ms-transform: translateY(14px) translateX(-14px);
        -webkit-transform: translateY(14px) translateX(-14px);
        transform: translateY(14px) translateX(-14px);
      }
      &:nth-child(8) {
        -moz-transform: translateY(14px) translateX(0);
        -ms-transform: translateY(14px) translateX(0);
        -webkit-transform: translateY(14px) translateX(0);
        transform: translateY(14px) translateX(0);
      }
      &:nth-child(9) {
        -moz-transform: translateY(14px) translateX(14px);
        -ms-transform: translateY(14px) translateX(14px);
        -webkit-transform: translateY(14px) translateX(14px);
        transform: translateY(14px) translateX(14px);
      }
    }
  }
}
