.traffic-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .car {
    position: absolute;
    width: 15px;
    height: 5px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes moveLeftToRight {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(100%);
    }
  }

  @keyframes moveRightToLeft {
    0% {
      left: 100%;
      transform: translateX(100%);
    }
    100% {
      left: 0;
      transform: translateX(-100%);
    }
  }

  /* Apply animations to specific cars */
  .moveLeftToRight {
    animation: moveLeftToRight linear infinite;
  }

  .moveRightToLeft {
    animation: moveRightToLeft linear infinite;
  }
}
