.buildings-parent {
  @apply relative min-h-screen overflow-hidden;

  & > img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    bottom: 0;
  }

  .tall-building-left {
    left: 0px;
    z-index: 10;
    max-width: 13%;
  }
  .tall-building-right {
    position: relative;
    right: 0px;
    z-index: 15;
    max-width: 21.5%;
  }
  .building-with-logo {
    z-index: 20;
    max-width: 11.7%;
  }
  .japan-building {
    position: absolute;
    left: 15%;
    z-index: 20;
    max-width: 21%;
  }
  .triple-building {
    right: 18%;
    z-index: 10;
    max-width: 24%;
  }
  .o-building {
    left: 14%;
    z-index: 15;
    max-width: 30%;
  }
  .curve-building {
    left: 6%;
    width: 100%;
    max-width: 14%;
  }
  .mid-building {
    right: 37%;
    z-index: 18;
    max-width: 21%;
  }
  .spire-building {
    right: 26%;
    z-index: 20;
    max-width: 6.2%;
  }
  .light-sculpture {
    right: 28%;
    z-index: 20;
    max-width: 21%;
  }
  .light-sculpture-2 {
    left: 29%;
    z-index: 15;
    max-width: 17%;
  }
  .art-building {
    right: 0px;
    z-index: 20;
    max-width: 29%;
  }
  .triangle-building {
    left: 41%;
    max-width: 14.7%;
  }

  .cityscape-traffic {
    position: absolute;
    overflow: hidden;

    &.traffic-1 {
      width: 35%;
      left: 0px;
      bottom: 45vw;
      z-index: 12;
    }

    &.traffic-2 {
      left: 36%;
      right: 19%;
      bottom: 45vw;
      z-index: 14;
    }
    &.traffic-3 {
      right: 0px;
      bottom: 22vw;
      z-index: 15;
      width: 38%;
    }
    &.traffic-4 {
      left: 0px;
      width: 45%;
      bottom: 22vw;
      z-index: 15;
    }
  }

  .bridge {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    height: clamp(30px, 6vw, 90px);
    background: url('/assets/buildings/bridge.png') repeat bottom;
    background-size: contain;

    .car-bridge {
      position: absolute;
      width: 15vw;
      height: auto;
      max-height: unset;
      top: 0;
      left: 100%;
      transform: translate(100%, -75%);
      animation: rtl 2.5s ease-out infinite;
    }
    @keyframes rtl {
      0% {
        left: 100%;
        transform: translate(100%, -75%);
      }
      100% {
        left: 0;
        transform: translate(-100%, -75%);
      }
    }
  }
}
