.single-project {
  @apply flex flex-col items-center justify-between md:flex-row;

  figure {
    @apply relative z-0 mb-2 md:mb-0 md:w-3/5 transition-all ease-ease-in-out duration-500 rounded-2xl;
    -webkit-transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(10deg);
    transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(10deg);
    box-shadow: 0 60px 123px -25px hsla(225, 2%, 40%, 0.2), 0 35px 75px -35px hsla(225, 2%, 40%, 0.1);

    @media (min-width: 1024px) {
      &:hover {
        box-shadow: 0 19px 67px -38px hsla(225, 2%, 40%, 0.8);
        -webkit-transform: perspective(800px) rotateY(-15deg) translate(-50px, -50px) rotateX(10deg) scale(1);
        transform: perspective(800px) rotateY(-15deg) translate(-50px, -50px) rotateX(10deg) scale(1);
      }
    }

    figcaption {
      @apply h-7 px-3 bg-[#233554] flex items-center gap-1;
      border-radius: 10px 10px 0 0;
      .buttons {
        @apply h-7 flex items-center gap-1;
        span {
          @apply block h-[10px] aspect-square rounded-full bg-[#ffbd2e] first-of-type:bg-[#ff5f57] last-of-type:bg-[#28ca41];
        }
      }
      .caption {
        @apply flex-1 w-1/2 text-center text-slate-300;
      }
    }

    img {
      border-radius: 0 0 10px 10px;
    }
  }

  .title {
    font-size: clamp(20px, 5vw, 24px);
    @apply md:mb-3 font-bold hover:text-secondary dark:hover:text-primary;
  }

  .project-content {
    @apply flex-1 text-center md:text-right relative z-10 md:mr-12 md:-ml-12;

    .description {
      @apply overflow-hidden bg-white dark:bg-dark-secondary-2 rounded-md p-6 leading-tight;
    }

    .tech-list {
      @apply flex flex-wrap text-[13px] font-mono gap-x-4 leading-none mt-5 justify-end;

      div {
        @apply flex items-center;
        span {
          @apply text-secondary dark:text-primary mr-1;
        }
      }
    }

    .project-links {
      @apply flex items-center justify-between mt-3;
    }
  }

  &.reverse {
    @apply md:flex-row-reverse;

    figure {
      -webkit-transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg);
      transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg);
    }

    .project-content {
      @apply md:text-left md:ml-12 md:-mr-12;

      .tech-list {
        @apply md:justify-start;
      }

      .project-links {
        @apply flex-row-reverse;
      }
    }
  }

  @media (min-width: 1024px) {
    &.reverse figure:hover {
      box-shadow: 0 19px 67px -38px hsla(225, 2%, 40%, 0.8);
      -webkit-transform: perspective(800px) rotateY(15deg) translate(50px, -50px) rotateX(10deg) scale(1);
      transform: perspective(800px) rotateY(15deg) translate(50px, -50px) rotateX(10deg) scale(1);
    }
  }
}
